<h2>Count the number of times a word appears in a sentence.</h2>
<form action='/result'>
  <div class="form-group">
    <label for="word">Enter the word that you'd like to count!</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="sentence">Enter a sentence that you'd like to see that word counted in!</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success btn-lg">Count!</button>
</form>
